.App {
  font-family: sans-serif;
  /* text-align: center; */
}

.user-name {
  font-size: 32px;
}

.user-pic {
  height: 12rem;
  width: 12rem;
  /* zoom  in */
  object-fit: cover;
  border-radius: 50%;
}

.movie-poster {
  height: 640px;
  width: 340px;
  /* zoom  in */
  object-fit: cover;
}

.movie-name {
  font-size: 16px;
  margin: 0;
}

.movie-specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-container {
  /* background-color: orange; */
  width: 340px;
  height: min-content;
}

/* RAM */
.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-around;
 
}

body {
  margin: 24px;
}
.add-color{
  display: flex;
}
.colorism{
  border-radius: 25px;
}
.notfound{
  width: 100%;
  max-height: 500%;
  object-fit: contain;
}
.movie-detail-container{
  max-width: 800px;
}
.add-movie-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.badge{
  font-size: 4px;
}
.router-container{
  padding-top: 24px;
}